.sheet .sound-sheet .items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #7a7971;
    margin-bottom: 10px;
}

.sheet .sound-sheet .items-list .item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: 100px;
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.sheet .sound-sheet .items-list .item-name {
    flex: 2;
    margin: 0;
    overflow: hidden;
    font-size: 13px;
    text-align: left;
    align-items: center;
}

.sheet .sound-sheet .items-list .item-name h3,
.sheet .sound-sheet .items-list .item-name h4 {
    margin: 0;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.sheet .sound-sheet .items-list .item-controls {
    flex: 0 0 50px;
    justify-content: space-between;
}

.sheet .sound-sheet .items-list .items-header .item-controls {
    flex: 0 0 80px;
}

.sheet .sound-sheet .items-list .item-controls a {
    font-size: 12px;
    text-align: center;
}

.sheet .sound-sheet .items-list .item {
    align-items: center;
    padding: 4px 2px;
    border-bottom: 1px solid #c9c7b8;
}

.sheet .sound-sheet .items-list .item:last-child {
    border-bottom: none;
}

.sheet .sound-sheet .items-list .item .item-name {
    color: #191813;
}

.sheet .sound-sheet .items-list .item .item-name .item-image {
    flex: 0 0 30px;
    height: 30px;
    background-size: 30px;
    border: none;
    margin-right: 5px;
}

.sheet .sound-sheet .items-list .item.received .item-name .item-image {
    filter: grayscale(100%);
    opacity: 0.7;
}

.sheet .sound-sheet .items-list .items-header {
    height: 28px;
    margin: 2px 0;
    padding: 0;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove #eeede0;
    font-weight: bold;
}

.sheet .sound-sheet .items-list .items-header > * {
    font-size: 12px;
    text-align: center;
}

.sheet .sound-sheet .items-list .items-header h3 {
    padding-left: 5px;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    font-size: 16px;
}

.sheet .sound-sheet .items-list .item-list .item-control.action-play .active {
    color: var(--color-text-hyperlink);
}

.sheet .sound-sheet .items-list .item-list .item-control.action-play i {
    transform: rotate(0);
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.sheet .sound-sheet .items-list .item-list .item-control.action-play .fa-sync {
    animation: spin 4s linear infinite;
}

#playlists.sound-enhancement .playlist,
#playlists-popout.sound-enhancement .playlist {
    padding: 0px;
    /*border-bottom: 4px solid #130027;*/
}

#playlists.sound-enhancement .playlist .playlist-header,
#playlists-popout.sound-enhancement .playlist .playlist-header {
    background: #130027;
    padding: 8px 8px 8px 8px;
}

.system-dsa5 #playlists.sound-enhancement .playlist .playlist-header,
.system-dsa5 #playlists-popout.sound-enhancement .playlist .playlist-header {
    background-color: var(--sheet-bg);
}

#playlists.sound-enhancement .directory-list li.sound,
#playlists-popout.sound-enhancement .directory-list li.sound {
    padding: 2px 6px 2px 12px;
    border: 1px solid transparent;
}

#playlists.sound-enhancement .directory-list li.sound.playing,
#playlists-popout.sound-enhancement .directory-list li.sound.playing {
    border: 1px solid #ff6400;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
}

#playlists.sound-enhancement.directory .directory-list .directory-item.document,
#playlists-popout.sound-enhancement.directory .directory-list .directory-item.document {
    border-top: 1px solid #3a00ae;
}

#mseCharacterSound,
#mseItemSound {
    width: 28px;
    height: 28px;
    max-width: 28px;
    max-height: 28px;
    border: none;
    font-size: 18px;
    line-height: 28px;
    padding: 0px 3px;
}

#mseCharacterSound.loaded,
#mseItemSound.loaded {
    border: 1px solid #ff6400;
    color: #ff6400;
}

.mseCharacterName,
.mseItemName {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-sound {
    flex: 0 0 15px;
    padding-left: 2px;
}

.playlist.document.player-hidden {
    display:none !important;
}

.playlists-sidebar .sound-control[data-mse-action="sound-stop"] {
    color: var(--color-text-hyperlink);
}

.playlists-sidebar .sound-effect h4 {
    color: yellow;
}

a.sound-link {
    background: #ddd;
    padding: 1px 4px;
    border: 1px solid #4b4a44;
    border-radius: 2px;
    white-space: nowrap;
    word-break: break-all;
}