<div class="sound-list">
    <ol class="items-list">
        <li class="items-header flexrow">
            <h3 class="item-name flexrow noborder">Sounds</h3>

            <div class="item-controls flexrow">
                {{#unless @root.cantDelete}}
                <a class="item-control action-delete" title="Clear Selected Sounds">
                    <i class="fas fa-dumpster"></i>
                </a>
                {{/unless}}
                {{#unless @root.cantAdd}}
                <a class="item-control action-create">
                    <i class="fas fa-plus"></i> {{ localize "MonksSoundEnhancements.Add" }}
                </a>
                {{/unless}}
            </div>
        </li>

        <ol class="item-list" data-pack-id="{{pack}}" data-playlist-id="{{playlist}}">
            {{#each sounds}}
            <li class="item flexrow" data-sound-id="{{this.id}}" data-pack-id="{{@root.pack}}" data-playlist-id="{{@root.playlist}}" draggable="true">
                <div class="item-name flexrow">
                    <input type="checkbox" class="select-sound" />
                    <h4>{{{this.name}}}</h4>
                </div>

                <div class="item-name item-duration flexrow" style="flex: 0 0 40px; justify-content: flex-end;">
                    {{this.duration}}
                </div>

                <div class="item-controls flexrow">
                    <a class="item-control action-play" title="Play Sound"><i class="fas fa-play"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>
    </ol>
</div>